<%-include('partials/header')%>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hello-<%= exej.Name %>
      </h5>
      <h6>you have discoversd my secret</h6>
      <p class="card-text2">Shraddha kapoor is my childhood crush</p>
   
      <form   id="secretForm" method="POST" class="secret-add">

        <div class="mb-3 row">

          <div class="col-sm-10 func">
             <input type="hidden" id="editIndex" name="editIndex" value="">
  <input type="text" class="form-control" id="users-secret"  name="secret" value="" required placeholder="Add your secret here">
  <button type="submit" class="button2" id="submitSecret">Add your's</button>
          </div>
         
        </div>
      </form>


      <div class="secretbtn3">
    <form action="/logout" method="POST">
      <button type="submit" class="logout"> Log out</button>
    </form>
      </div>

    </div>
 <div class="personal">
        <% if (exej.secrets && exej.secrets.length > 0) { %>
    <p class="headsec">Your secrets:</p>
        <% exej.secrets.forEach((val, index) => { %>
          <div class="secret-row" style="display: flex; align-items: center; gap: 1rem;"> 
          <div><p class="usersecret"><%= index + 1 %>. <%= val %></p>
    <Button class="edit-btn" data-index="<%= index %>" data-secret="<%= val %>" style="padding: 0.15rem; border: none; background-color: rgb(240, 57, 57); border-radius: 10%; color: white; font-size: 0.8rem; width: 3rem;">Edit</Button>
 
 </div>   </div>
   
  <% }) %><% }  else { %>
      <p class="usersecret">You haven’t shared any secrets yet.</p>
    <% } %>
      </div>


  </div>


  <%-include('partials/footer')%>
  <% if (alertMsg) { %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      alert("<%= alertMsg %>");
    });
  </script>
<% } %>
