<%-include('partials/header')%>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hello-<%= exej.Name %>
      </h5>
      <h6>you have discoversd my secret</h6>
      <p class="card-text2">Shraddha kapoor is my childhood crush</p>
   <% if (exej.secrets && exej.secrets.length > 0) { %>
       <% exej.secrets.forEach(val=> { %><p class="usersecret">Your secret: <%= val %></p> <% }) %>
    <% } else { %>
      <p class="usersecret">You haven’t shared any secrets yet.</p>
    <% } %>
      <form action="/secrets" method="POST" class="secret-add">

        <div class="mb-3 row">

          <div class="col-sm-10 func">
           
                <input type="text" class="form-control" id="secret" name="secret" placeholder="Add you secret here">
            <button type="submit" class="button2" >Add your's</button>
             
          
          </div>
         
        </div>
      </form>


      <div class="secretbtn3">
    <form action="/logout" method="POST">
      <button type="submit" class="logout"> Log out</button>
    </form>
      </div>

    </div>
  </div>


  <%-include('partials/footer')%>
  <% if (alertMsg) { %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      alert("<%= alertMsg %>");
    });
  </script>
<% } %>